.cache
.config/dconf/
.config/discord/
.config/flameshot/
.config/htop/
.config/lazygit/
.config/pulse/
.config/pavucontrol.ini
.config/nvim


.pki/
.vim/

.local/share/nvim/
.local/share/xorg/
.local/share/recently-used.xbel/
.local/state
.mozilla

repos/
work/
.bash_history
.bashrc


.gitconfig
.lesshst
.secret
.viminfo
.Xauthority
